.login {
  height: calc(100% - 64px);
  overflow-x: hidden;
  overflow-y: auto;

  > form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 350px;
    min-width: 300px;

    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
